{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Sample</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            color: #644ca4;
            background-color: #f8f9fa;
        }

        .container {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            max-width: 600px;
            margin: auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .added-item {
            display: inline-flex;
            align-items: center;
            margin: 5px;
            padding: 5px 10px;
            background: #eeeeee;
            border-radius: 5px;
        }

        .added-item span {
            margin-right: 5px;
        }

        .added-item .remove-btn {
            margin-left: 5px;
            cursor: pointer;
            color: red;
        }

        .free-text-input {
            display: none;
            margin-left: 10px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            left: 100%;
            top: 0;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Nested Dropdown */
        .nested-dropdown {
            position: relative;
            display: inline-block;
        }

        .nested-dropdown-content {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .nested-dropdown:hover .nested-dropdown-content {
            display: block;
        }

        /* Hide the "Other" text input field by default */
        .hidden {
            display: none;
        }

        /* Add focus styles */
        .dropdown-input:focus {
            outline: none;
            border-color: blue; /* Border color change on focus */
        }

        /* Dropdown input styling with border */
        .dropdown-input {
            border: 1px solid #ced4da; /* Add a border */
            padding: .375rem 2.25rem .375rem .75rem; /* Padding for the input */
            width: 200px; /* Width of the input */
            appearance: none; /* Remove default input styling */
            cursor: pointer; /* Cursor style */
            border-radius: 5px; /* Add rounded edges */
        }

        /* Dropdown content styling */
        .dropdown-content {
            display: none; /* Hidden by default */
            position: absolute; /* Absolute positioning */
            background-color: white; /* Background color */
            z-index: 1; /* Make sure it appears above other elements */
            margin-top: 5px; /* Space between input and dropdown */
            width: 200px; /* Width of dropdown */
        }

        /* Show dropdown when active */
        .show {
            display: block; /* Show dropdown */
        }

        /* Nested dropdown content */
        .nested-dropdown-content {
            display: none; /* Hidden by default */
            padding-left: 20px; /* Indent for nested items */
        }

        /* Nested dropdown visibility on hover */
        .nested-dropdown:hover .nested-dropdown-content {
            display: block; /* Show nested dropdown on hover */
        }

        /* Hide input by default */
        .hidden {
            display: none; /* Hidden */
        }

        /* Focus styles for the input */
        .dropdown-input:focus {
            outline: none; /* Remove outline */
            border-color: blue; /* Change border color on focus */
        }

        .container-grid, .container-grid2 {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: space-around;
        }
        .grid-container, .grid-container2 {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-gap: 5px;
            margin-top: 10px;
        }
        .container-btn, .container-btn2{
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 12px;
        }
        .required::after {
			content: " *";
			color: rgb(185, 24, 24);
			font-size: 14px;
	    }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2><b>Edit Sample</b></h2>

        <form method="post" enctype="multipart/form-data" action="{% url 'edit_sample' sample.id %}" id="create-sample-form">
            {% csrf_token %}

            <div class="mb-3">
                <label for="sample_id" class="form-label">Sample ID:</label>
                <input type="text" class="form-control" id="sample_id" value="{{ sample.id }}" name="sample_id" readonly>
            </div>      

            <div class="dropdown mb-2">
                <label for="type" class="form-label required">Type:</label>
                <input class="dropdown-input" type="text" id="selectedOption" value="{{ sample.type }}" name="selectedOption" placeholder="Select Type" readonly onclick="toggleDropdown()">
                
                <input type="hidden" id="typeValue" name="typeValue" value="{{ sample.type }}">

                <div id="type-dropdown" class="dropdown-content">
                    <div class="nested-dropdown">
                        <a href="#">Molecular (specify):</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectOption('DNA', 'molecular')">DNA</a>
                            <a href="#" onclick="selectOption('RNA', 'molecular')">RNA</a>
                            <a href="#" onclick="selectOption('cDNA', 'molecular')">cDNA</a>
                            <a href="#" onclick="showOtherInput('molecular')">Other (specify)</a>
                            <input type="text" id="molecular-other" class="hidden" placeholder="Specify other" onchange="captureOtherInput('molecular')">
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#">Blood or Derivatives (specify):</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectOption('Plasma', 'blood')">Plasma</a>
                            <a href="#" onclick="selectOption('Serum', 'blood')">Serum</a>
                            <a href="#" onclick="selectOption('PBMC', 'blood')">PBMC</a>
                            <a href="#" onclick="selectOption('Whole Blood', 'blood')">Whole Blood</a>
                            <a href="#" onclick="showOtherInput('blood')">Other (specify)</a>
                            <input type="text" id="blood-other" class="hidden" placeholder="Specify other" onchange="captureOtherInput('blood')">
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#">Tissue (specify location):</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectOption('Lung', 'tissue')">Lung</a>
                            <a href="#" onclick="selectOption('Heart', 'tissue')">Heart</a>
                            <a href="#" onclick="showOtherInput('tissue')">Other (specify)</a>
                            <input type="text" id="tissue-other" class="hidden" placeholder="Specify other" onchange="captureOtherInput('tissue')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 d-flex align-items-center">
                <label class="form-label me-2 required">Sex:</label>
                <div class="form-check me-2">
                    <input class="form-check-input" type="radio" name="sex" id="male" value="Male" 
                        {% if sample.sex == 'Male' %} checked {% endif %} required>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check me-2">
                    <input class="form-check-input" type="radio" name="sex" id="female" value="Female" 
                        {% if sample.sex == 'Female' %} checked {% endif %} required>
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <label class="form-label required" style="margin-left: 100px">Age:</label>
                <input type="number" class="form-control" id="age" name="age" min="0" 
                    style="width: 80px; margin-left: 10px;" value="{{ sample.age }}" required>
            </div>
            
            <div class="mb-3">
                <label for="clinical_diagnosis" class="form-label required">Clinical Diagnosis:</label>
                <select class="form-select" id="clinical_diagnosis" name="clinical_diagnosis" required>
                    <option value="">Select Clinical Diagnosis</option>
                    <option value="Alzheimer's Disease" {% if sample.clinical_diagnosis == "Alzheimer's Disease" %}selected{% endif %}>Alzheimer's Disease</option>
                    <option value="Amyotrophic Lateral Sclerosis (ALS)" {% if sample.clinical_diagnosis == "Amyotrophic Lateral Sclerosis (ALS)" %}selected{% endif %}>Amyotrophic Lateral Sclerosis (ALS)</option>
                    <option value="Asthma" {% if sample.clinical_diagnosis == "Asthma" %}selected{% endif %}>Asthma</option>
                    <option value="Atrial Fibrillation" {% if sample.clinical_diagnosis == "Atrial Fibrillation" %}selected{% endif %}>Atrial Fibrillation</option>
                    <option value="Breast Cancer" {% if sample.clinical_diagnosis == "Breast Cancer" %}selected{% endif %}>Breast Cancer</option>
                    <option value="Cerebral Palsy" {% if sample.clinical_diagnosis == "Cerebral Palsy" %}selected{% endif %}>Cerebral Palsy</option>
                    <option value="Chronic Kidney Disease" {% if sample.clinical_diagnosis == "Chronic Kidney Disease" %}selected{% endif %}>Chronic Kidney Disease</option>
                    <option value="Chronic Obstructive Pulmonary Disease (COPD)" {% if sample.clinical_diagnosis == "Chronic Obstructive Pulmonary Disease (COPD)" %}selected{% endif %}>Chronic Obstructive Pulmonary Disease (COPD)</option>
                    <option value="Chronic Pain (e.g., arthritis, fibromyalgia)" {% if sample.clinical_diagnosis == "Chronic Pain (e.g., arthritis, fibromyalgia)" %}selected{% endif %}>Chronic Pain (e.g., arthritis, fibromyalgia)</option>
                    <option value="Colon Cancer" {% if sample.clinical_diagnosis == "Colon Cancer" %}selected{% endif %}>Colon Cancer</option>
                    <option value="Congenital Heart Defects" {% if sample.clinical_diagnosis == "Congenital Heart Defects" %}selected{% endif %}>Congenital Heart Defects</option>
                    <option value="Coronary Artery Disease" {% if sample.clinical_diagnosis == "Coronary Artery Disease" %}selected{% endif %}>Coronary Artery Disease</option>
                    <option value="Cystic Fibrosis" {% if sample.clinical_diagnosis == "Cystic Fibrosis" %}selected{% endif %}>Cystic Fibrosis</option>
                    <option value="Diabetes Mellitus Type 1" {% if sample.clinical_diagnosis == "Diabetes Mellitus Type 1" %}selected{% endif %}>Diabetes Mellitus Type 1</option>
                    <option value="Diabetes Mellitus Type 2" {% if sample.clinical_diagnosis == "Diabetes Mellitus Type 2" %}selected{% endif %}>Diabetes Mellitus Type 2</option>
                    <option value="Down Syndrome" {% if sample.clinical_diagnosis == "Down Syndrome" %}selected{% endif %}>Down Syndrome</option>
                    <option value="Dyslipidemia" {% if sample.clinical_diagnosis == "Dyslipidemia" %}selected{% endif %}>Dyslipidemia</option>
                    <option value="Epilepsy" {% if sample.clinical_diagnosis == "Epilepsy" %}selected{% endif %}>Epilepsy</option>
                    <option value="G6PD Deficiency" {% if sample.clinical_diagnosis == "G6PD Deficiency" %}selected{% endif %}>G6PD Deficiency</option>
                    <option value="Gaucher Disease" {% if sample.clinical_diagnosis == "Gaucher Disease" %}selected{% endif %}>Gaucher Disease</option>
                    <option value="Hemophilia" {% if sample.clinical_diagnosis == "Hemophilia" %}selected{% endif %}>Hemophilia</option>
                    <option value="Hepatitis B" {% if sample.clinical_diagnosis == "Hepatitis B" %}selected{% endif %}>Hepatitis B</option>
                    <option value="Hepatitis C" {% if sample.clinical_diagnosis == "Hepatitis C" %}selected{% endif %}>Hepatitis C</option>
                    <option value="HIV/AIDS" {% if sample.clinical_diagnosis == "HIV/AIDS" %}selected{% endif %}>HIV/AIDS</option>
                    <option value="Huntington's Disease" {% if sample.clinical_diagnosis == "Huntington's Disease" %}selected{% endif %}>Huntington's Disease</option>
                    <option value="Hypertension" {% if sample.clinical_diagnosis == "Hypertension" %}selected{% endif %}>Hypertension</option>
                    <option value="Leukemia" {% if sample.clinical_diagnosis == "Leukemia" %}selected{% endif %}>Leukemia</option>
                    <option value="Liver Cirrhosis" {% if sample.clinical_diagnosis == "Liver Cirrhosis" %}selected{% endif %}>Liver Cirrhosis</option>
                    <option value="Lymphoma" {% if sample.clinical_diagnosis == "Lymphoma" %}selected{% endif %}>Lymphoma</option>
                    <option value="Multiple Sclerosis" {% if sample.clinical_diagnosis == "Multiple Sclerosis" %}selected{% endif %}>Multiple Sclerosis</option>
                    <option value="Obesity" {% if sample.clinical_diagnosis == "Obesity" %}selected{% endif %}>Obesity</option>
                    <option value="Osteoporosis" {% if sample.clinical_diagnosis == "Osteoporosis" %}selected{% endif %}>Osteoporosis</option>
                    <option value="Parkinson's Disease" {% if sample.clinical_diagnosis == "Parkinson's Disease" %}selected{% endif %}>Parkinson's Disease</option>
                    <option value="Peripheral Neuropathy" {% if sample.clinical_diagnosis == "Peripheral Neuropathy" %}selected{% endif %}>Peripheral Neuropathy</option>
                    <option value="Phenylketonuria (PKU)" {% if sample.clinical_diagnosis == "Phenylketonuria (PKU)" %}selected{% endif %}>Phenylketonuria (PKU)</option>
                    <option value="Psoriasis" {% if sample.clinical_diagnosis == "Psoriasis" %}selected{% endif %}>Psoriasis</option>
                    <option value="Rheumatoid Arthritis" {% if sample.clinical_diagnosis == "Rheumatoid Arthritis" %}selected{% endif %}>Rheumatoid Arthritis</option>
                    <option value="Sickle Cell Disease" {% if sample.clinical_diagnosis == "Sickle Cell Disease" %}selected{% endif %}>Sickle Cell Disease</option>
                    <option value="Sleep Apnea" {% if sample.clinical_diagnosis == "Sleep Apnea" %}selected{% endif %}>Sleep Apnea</option>
                    <option value="Spinal Muscular Atrophy" {% if sample.clinical_diagnosis == "Spinal Muscular Atrophy" %}selected{% endif %}>Spinal Muscular Atrophy</option>
                    <option value="Systemic Lupus Erythematosus (SLE)" {% if sample.clinical_diagnosis == "Systemic Lupus Erythematosus (SLE)" %}selected{% endif %}>Systemic Lupus Erythematosus (SLE)</option>
                    <option value="Thalassemia" {% if sample.clinical_diagnosis == "Thalassemia" %}selected{% endif %}>Thalassemia</option>
                    <option value="Tuberculosis" {% if sample.clinical_diagnosis == "Tuberculosis" %}selected{% endif %}>Tuberculosis</option>
                    <option value="Viral Hepatitis" {% if sample.clinical_diagnosis == "Viral Hepatitis" %}selected{% endif %}>Viral Hepatitis</option>
                    <option value="X-linked Dystonia Parkinsonism (XDP)" {% if sample.clinical_diagnosis == "X-linked Dystonia Parkinsonism (XDP)" %}selected{% endif %}>X-linked Dystonia Parkinsonism (XDP)</option>
                    <option value="Others" {% if sample.clinical_diagnosis == "Others" %}selected{% endif %}>Others (specify):</option>
                </select>
                
                <!-- Free text input for 'Others' option -->
                {% if sample.clinical_diagnosis == "Others" %}
                <input type="text" id="other_diagnosis" name="other_diagnosis" class="form-control mt-2" placeholder="Specify if Others" value="{{ sample.clinical_diagnosis }}" style="display: block;">
                {% else %}
                <input type="text" id="other_diagnosis" name="other_diagnosis" class="form-control mt-2" placeholder="Specify if Others" style="display: none;">
                {% endif %}
                
            </div>
            

             <!-- Comorbidities -->

             <div class="mb-3">
                <label for="comorbidities" class="form-label required">Comorbidities:</label>
                <div class="d-flex align-items-center">
                    <select class="form-select me-2" id="comorbidity_select">
                        <option value="">Select Comorbidity</option>
                        <option value="Alzheimer's Disease">Alzheimer's Disease</option>
                        <option value="Amyotrophic Lateral Sclerosis (ALS)">Amyotrophic Lateral Sclerosis (ALS)</option>
                        <option value="Asthma">Asthma</option>
                        <option value="Atrial Fibrillation">Atrial Fibrillation</option>
                        <option value="Breast Cancer">Breast Cancer</option>
                        <option value="Cerebral Palsy">Cerebral Palsy</option>
                        <option value="Chronic Kidney Disease">Chronic Kidney Disease</option>
                        <option value="Chronic Obstructive Pulmonary Disease (COPD)">Chronic Obstructive Pulmonary Disease (COPD)</option>
                        <option value="Chronic Pain (e.g., arthritis, fibromyalgia)">Chronic Pain (e.g., arthritis, fibromyalgia)</option>
                        <option value="Colon Cancer">Colon Cancer</option>
                        <option value="Congenital Heart Defects">Congenital Heart Defects</option>
                        <option value="Coronary Artery Disease">Coronary Artery Disease</option>
                        <option value="Cystic Fibrosis">Cystic Fibrosis</option>
                        <option value="Diabetes Mellitus Type 1">Diabetes Mellitus Type 1</option>
                        <option value="Diabetes Mellitus Type 2">Diabetes Mellitus Type 2</option>
                        <option value="Down Syndrome">Down Syndrome</option>
                        <option value="Dyslipidemia">Dyslipidemia</option>
                        <option value="Epilepsy">Epilepsy</option>
                        <option value="G6PD Deficiency">G6PD Deficiency</option>
                        <option value="Gaucher Disease">Gaucher Disease</option>
                        <option value="Hemophilia">Hemophilia</option>
                        <option value="Hepatitis B">Hepatitis B</option>
                        <option value="Hepatitis C">Hepatitis C</option>
                        <option value="HIV/AIDS">HIV/AIDS</option>
                        <option value="Huntington's Disease">Huntington's Disease</option>
                        <option value="Hypertension">Hypertension</option>
                        <option value="Leukemia">Leukemia</option>
                        <option value="Liver Cirrhosis">Liver Cirrhosis</option>
                        <option value="Lymphoma">Lymphoma</option>
                        <option value="Multiple Sclerosis">Multiple Sclerosis</option>
                        <option value="Obesity">Obesity</option>
                        <option value="Osteoporosis">Osteoporosis</option>
                        <option value="Parkinson's Disease">Parkinson's Disease</option>
                        <option value="Peripheral Neuropathy">Peripheral Neuropathy</option>
                        <option value="Phenylketonuria (PKU)">Phenylketonuria (PKU)</option>
                        <option value="Psoriasis">Psoriasis</option>
                        <option value="Rheumatoid Arthritis">Rheumatoid Arthritis</option>
                        <option value="Sickle Cell Disease">Sickle Cell Disease</option>
                        <option value="Sleep Apnea">Sleep Apnea</option>
                        <option value="Spinal Muscular Atrophy">Spinal Muscular Atrophy</option>
                        <option value="Systemic Lupus Erythematosus (SLE)">Systemic Lupus Erythematosus (SLE)</option>
                        <option value="Thalassemia">Thalassemia</option>
                        <option value="Tuberculosis">Tuberculosis</option>
                        <option value="Viral Hepatitis">Viral Hepatitis</option>
                        <option value="X-linked Dystonia Parkinsonism (XDP)">X-linked Dystonia Parkinsonism (XDP)</option>
                        <option value="Others">Other (specify)</option>
                    </select>
                    <input type="text" class="form-control free-text-input" id="comorbidity_other" name="comorbidity_other" placeholder="Specify other" style="display: none;">
                    <button type="button" class="btn btn-dark" id="add_comorbidity">Add</button>
                </div>
                <div id="added_comorbidities" class="mt-2"></div>
            </div>

            <div id="added_comorbidities" class="mt-2"></div>
            <input type="hidden" id="comorbidities_input" name="comorbidities" value="">

            <!-- Lab Test -->
            <div class="dropdown mb-2">
                <label for="lab_tests" class="form-label required">Lab Tests:</label>
                <input class="dropdown-input" type="text" id="selectedLabTests" name="selectedLabTests" placeholder="Select Lab Tests" readonly onclick="toggleDropdown('lab-tests-dropdown')">
                
                <div id="lab-tests-dropdown" class="dropdown-content">
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Complete Blood Count (CBC)')">Complete Blood Count (CBC)</a>
                    </div>   
                    <div class="nested-dropdown">
                        <a href="#">Blood Chemistry Panel</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('Glucose')">Glucose</a>
                            <a href="#" onclick="selectLabTest('Blood Urea Nitrogen (BUN)')">Blood Urea Nitrogen (BUN)</a>
                            <a href="#" onclick="selectLabTest('Creatinine')">Creatinine</a>
                            <a href="#" onclick="selectLabTest('Electrolytes (Sodium, Potassium, Chloride)')">Electrolytes (Sodium, Potassium, Chloride)</a>
                            <a href="#" onclick="selectLabTest('Calcium')">Calcium</a>
                            <a href="#" onclick="selectLabTest('Albumin')">Albumin</a>
                        </div>
                    </div>  
                    <div class="nested-dropdown">
                        <a href="#">Lipid Profile</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('Total Cholesterol')">Total Cholesterol</a>
                            <a href="#" onclick="selectLabTest('HDL (High-Density Lipoprotein)')">HDL (High-Density Lipoprotein)</a>
                            <a href="#" onclick="selectLabTest('LDL (Low-Density Lipoprotein)')">LDL (Low-Density Lipoprotein)</a>
                            <a href="#" onclick="selectLabTest('Triglycerides')">Triglycerides</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Hemoglobin A1c (HbA1c)')">Hemoglobin A1c (HbA1c)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Fasting Blood Sugar (FBS)')">Fasting Blood Sugar (FBS)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Oral Glucose Tolerance Test (OGTT)')">Oral Glucose Tolerance Test (OGTT)</a>
                    </div>                    
                    <div class="nested-dropdown">
                        <a href="#">Thyroid Function Tests</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('T3 (Triiodothyronine)')">T3 (Triiodothyronine)</a>
                            <a href="#" onclick="selectLabTest('T4 (Thyroxine)')">T4 (Thyroxine)</a>
                            <a href="#" onclick="selectLabTest('TSH (Thyroid Stimulating Hormone)')">TSH (Thyroid Stimulating Hormone)</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#">Kidney Function Tests</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('Serum Creatinine')">Serum Creatinine</a>
                            <a href="#" onclick="selectLabTest('Estimated Glomerular Filtration Rate (eGFR)')">Estimated Glomerular Filtration Rate (eGFR)</a>
                            <a href="#" onclick="selectLabTest('Blood Urea Nitrogen (BUN)')">Blood Urea Nitrogen (BUN)</a>
                            <a href="#" onclick="selectLabTest('Urinalysis')">Urinalysis</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#">Liver Function Tests</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('ALT (Alanine Aminotransferase)')">ALT (Alanine Aminotransferase)</a>
                            <a href="#" onclick="selectLabTest('AST (Aspartate Aminotransferase)')">AST (Aspartate Aminotransferase)</a>
                            <a href="#" onclick="selectLabTest('ALP (Alkaline Phosphatase)')">ALP (Alkaline Phosphatase)</a>
                            <a href="#" onclick="selectLabTest('Bilirubin')">Bilirubin</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#">Cardiac Enzyme Tests</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('Troponin')">Troponin</a>
                            <a href="#" onclick="selectLabTest('Creatine Kinase-MB (CK-MB)')">Creatine Kinase-MB (CK-MB)</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#">Coagulation Profile</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('Prothrombin Time (PT)')">Prothrombin Time (PT)</a>
                            <a href="#" onclick="selectLabTest('Partial Thromboplastin Time (PTT)')">Partial Thromboplastin Time (PTT)</a>
                            <a href="#" onclick="selectLabTest('INR (International Normalized Ratio)')">INR (International Normalized Ratio)</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Urinalysis')">Urinalysis</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Electrocardiogram (ECG/EKG)')">Electrocardiogram (ECG/EKG)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Echocardiogram')">Echocardiogram</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Chest X-ray')">Chest X-ray</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Abdominal Ultrasound')">Abdominal Ultrasound</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Bone Mineral Density Test (DEXA)')">Bone Mineral Density Test (DEXA)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('CT Scan (Computed Tomography)')">CT Scan (Computed Tomography)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('MRI (Magnetic Resonance Imaging)')">MRI (Magnetic Resonance Imaging)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Blood Culture')">Blood Culture</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Sputum Culture')">Sputum Culture</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Stool Analysis')">Stool Analysis</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Pap Smear')">Pap Smear</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Prostate-Specific Antigen (PSA)')">Prostate-Specific Antigen (PSA)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('HIV Test')">HIV Test</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Hepatitis B Test')">Hepatitis B Test</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Hepatitis C Test')">Hepatitis C Test</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Tuberculosis Skin Test (Mantoux Test)')">Tuberculosis Skin Test (Mantoux Test)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Dengue NS1 Antigen Test')">Dengue NS1 Antigen Test</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Blood Typing and Crossmatching')">Blood Typing and Crossmatching</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('C-Reactive Protein (CRP)')">C-Reactive Protein (CRP)</a>
                    </div>
                    <div class="nested-dropdown">
                        <a href="#" onclick="selectLabTest('Erythrocyte Sedimentation Rate (ESR)')">Erythrocyte Sedimentation Rate (ESR)</a>
                    </div>                    
                    <div class="nested-dropdown">
                        <a href="#">Immunological Tests</a>
                        <div class="nested-dropdown-content">
                            <a href="#" onclick="selectLabTest('Antinuclear Antibody (ANA)')">Antinuclear Antibody (ANA)</a>
                            <a href="#" onclick="selectLabTest('Rheumatoid Factor (RF)')">Rheumatoid Factor (RF)</a>
                        </div>
                    </div>
                    <div class="nested-dropdown">
                        <input type="text" id="lab_test_other" placeholder="Specify other" onchange="captureOtherInputs()">
                    </div> 
                </div>
            </div>
            
            <div id="added_lab_tests" class="mt-2"></div>
            <input type="hidden" id="lab_tests_input" name="lab_tests" value="">
            
            

            <div class="row">
                <div class="col-md-6">
                    <label for="amount" class="form-label required">Amount:</label>
                    <input type="number" class="form-control" id="amount" value="{{ sample.amount }}" name="amount" step="0.01" value='0' required>
                </div>
                <div class="col-md-6">
                    <label for="unit" class="form-label required">Unit:</label>
                    <select class="form-select" id="unit" name="unit" value="{{ sample.unit }}" >
                        <option value="mL">mL</option>
                        <option value="uL">µL</option>
                        <option value="slides">Slides</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="mb-3">
                <label for="freezer" class="form-label required">Freezer:</label>
                <select class="form-select" id="freezer" name="freezer_num" value="{{ sample.storage_set.freezer_num }}">
                    <option value="Under-counter ULT Freezer 1">Under-counter ULT Freezer 1</option>
                    <option value="Under-counter ULT Freezer 2">Under-counter ULT Freezer 2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="shelf" class="form-label required">Shelf No.:</label>
                <select class="form-select" id="shelf" name="shelf_num" value="{{ sample.storage_set.shelf_num }}">
                    <option value="1">Shelf No. 1</option>
                    <option value="2">Shelf No. 2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="rack" class="form-label required">Rack No.:</label>
                <select class="form-select" id="rack" name="rack_num" value="{{ sample.storage_set.rack_num }}">
                    <option value="1">Rack No. 1</option>
                    <option value="2">Rack No. 2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="box" class="form-label required">Box No.:</label>
                <select class="form-select" id="box" name="box_num" value="{{ sample.storage_set.box_num }}">
                    <option value="1">Box No. 1</option>
                    <option value="2">Box No. 2</option>
                </select>
            </div>
            <input type="hidden" id="container-input" name="container" value="{{ sample.storage_set.container }}">
            <br>
            <div class="mb-3">
                <label for="date_collected" class="form-label required">Date Collected:</label>
                <input type="date" class="form-control" id="date_collected" name="date_collected" 
                       value="{{ sample.date_collected|date:'Y-m-d' }}" required>
            </div>            

            <div class="mb-3">
                <label for="consent_form" class="form-label required">Informed Consent Form (.pdf)</label>
                
                <!-- Display the current uploaded consent form -->
                {% if sample.consent_form %}
                    <div id="current-file-info" class="mt-2">
                        <a href="{{ sample.consent_form.url }}" target="_blank" class="btn btn-link">{{ sample.consent_form }}</a>
                    </div>
                {% else %}
                    <div id="current-file-info" class="mt-2">
                        <span>No consent form uploaded.</span>
                    </div>
                {% endif %}
                
                <!-- File input for uploading a new file -->
                <input type="file" class="form-control" id="consent_form" name="consent_form" accept=".pdf" onchange="handleFileChange()">
                
                <!-- Area to display the selected file name and action buttons -->
                <div id="file-info" class="mt-2" style="display: none;">
                    <span id="file-name"></span>
                    <button type="button" class="btn btn-link" onclick="removeFile()">Remove</button>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Save Sample</button>
            
        </form>
    </div>

    <script>
        // Extract comorbidities directly from the Django context, by rendering them as a list in JavaScript
        const existingComorbidities = [
            {% for comorbidity in sample.comorbidities_set.all %}
                "{{ comorbidity.comorbidity }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        const existingLabtests = [
            {% for lab_test in sample.lab_test_set.all %}
                "{{ lab_test.labtest }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
    </script>

    <script>
       
        // Dynamically generate 10x10 grid for container selection
        document.addEventListener('DOMContentLoaded', function () {
            initializeComorbidities();
            initializeLabTests();

            document.getElementById("create-sample-form").addEventListener("submit", function(event) {
                const typeValue = document.getElementById("typeValue").value;
                const comorbiditiesValue = document.getElementById("comorbidities_input").value;
                const LabTestValue = document.getElementById("lab_tests_input").value;
                const storageValue = document.getElementById("selectedStorage").value;
    
                if (!typeValue || !comorbiditiesValue || !LabTestValue || !storageValue) {
                    alert("Please complete required fields.");
                    event.preventDefault();
                }
            }); 
    
            const containerGrid = document.getElementById('container-grid');
            const rows = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'];
    
            for (let i = 0; i < rows.length; i++) {
                for (let j = 1; j <= 10; j++) {
                    const button = document.createElement('button');
                    button.type = 'button';
                    button.className = 'btn btn-outline-primary container-btn';
                    button.textContent = `${rows[i]}${j}`;
                    button.onclick = function () {
                        selectContainer(button.textContent);
                    };
                    containerGrid.appendChild(button);
                }
            }
    
    
            // const addedComorbidities = new Set(); // Set to track added comorbidities
            // const addedLabTests = new Set(); // Set to track added lab tests
        });

        const clinicalDiagnosis = document.getElementById('clinical_diagnosis');
        const otherDiagnosisInput = document.getElementById('other_diagnosis');
    
            // Show or hide the text input based on clinical diagnosis selection
        clinicalDiagnosis.addEventListener('change', function () {
            otherDiagnosisInput.style.display = clinicalDiagnosis.value === 'Others' ? 'block' : 'none';
        });

        let selectedComorbidities = []; 
        let selectedLabTests = []; // To store added lab tests

        function initializeComorbidities() {
            const addedItemsContainerC = document.getElementById('added_comorbidities');
            const hiddenInputC = document.getElementById('comorbidities_input');

            existingComorbidities.forEach(comorbidity => {
                // Create a new item for each existing comorbidity
                const newItem = document.createElement('div');
                newItem.classList.add('added-item');
                newItem.innerHTML = `<span>${comorbidity}</span><span class="remove-btn">X</span>`;
                addedItemsContainerC.appendChild(newItem);
                selectedComorbidities.push(comorbidity);
            });

            // Update the hidden input field with pre-existing comorbidities
            hiddenInputC.value = existingComorbidities.join(',');
        }

        // Function to initialize pre-existing Lab Tests
        function initializeLabTests() {
            const addedItemsContainer = document.getElementById('added_lab_tests');
            const hiddenInput = document.getElementById('lab_tests_input');

            existingLabtests.forEach(labTest => {
                const newItem = document.createElement('div');
                newItem.classList.add('added-item');
                newItem.innerHTML = `<span>${labTest}</span><span class="remove-btn">X</span>`;
                addedItemsContainer.appendChild(newItem);
                selectedLabTests.push(labTest);
            });

            hiddenInput.value = existingLabtests.join(',');
        }

        // Commorbidities
        // function addItem(selectId, otherInputId, addedItemsContainerId, hiddenInputId) {
        //         const select = document.getElementById(selectId);
        //         const otherInput = document.getElementById(otherInputId);
        //         const addedItemsContainer = document.getElementById(addedItemsContainerId);
        //         const hiddenInput = document.getElementById(hiddenInputId);
        //         const selectedValue = select.value;
        //         const otherValue = otherInput.value.trim();
    
        //         if (selectedValue === "") {
        //             alert("Please select a commorbidity.");
        //             return;
        //         }
    
        //         let valueToAdd = selectedValue === 'Others' ? (otherValue === "" ? null : otherValue) : selectedValue;
    
        //         if (!valueToAdd) {
        //             alert("Please specify the commorbidity.");
        //             return;
        //         }
    
        //         // Check if the item already exists
        //         const existingValues = hiddenInput.value ? hiddenInput.value.split(',') : [];
        //         if (existingValues.includes(valueToAdd)) {
        //             alert("This commorbidity has already been added.");
        //             return;
        //         }
    
        //         // Add the item to the list
        //         const newItem = document.createElement('div');
        //         newItem.classList.add('added-item');
        //         newItem.innerHTML = `<span>${valueToAdd}</span><span class="remove-btn">X</span>`;
        //         addedItemsContainer.appendChild(newItem);
    
        //         // Update hidden input field
        //         existingValues.push(valueToAdd);
        //         hiddenInput.value = existingValues.join(',');
    
        //         // Reset fields
        //         select.value = '';
        //         otherInput.value = '';
        //     }
    
            document.getElementById('add_comorbidity').addEventListener('click', function() {
                addComorbidity();
            });
    
            // document.getElementById('add_lab_test').addEventListener('click', function() {
            //     addItem('lab_test_select', 'lab_test_other', 'added_lab_tests', 'lab_tests_input');
            // });
            
            // let selectedLabTests = []; // To store added lab tests

            const ComorSelect = document.getElementById('comorbidity_select');
            const ComorOthers = document.getElementById('comorbidity_other');
        
                // Show or hide the text input based on clinical diagnosis selection
            ComorSelect.addEventListener('change', function () {
                    ComorOthers.style.display = ComorSelect.value === 'Others' ? 'block' : 'none';
            });

            // Function to add a comorbidity
            function addComorbidity() {
                const select = document.getElementById('comorbidity_select');
                const otherInput = document.getElementById('comorbidity_other');
                const selectedValue = select.value;
                const otherValue = otherInput.value.trim();

                if (selectedValue === "") {
                    alert("Please select a comorbidity.");
                    return;
                }

                let valueToAdd = selectedValue === 'Others' ? (otherValue === "" ? null : otherValue) : selectedValue;

                if (!valueToAdd) {
                    alert("Please specify the commorbidity.");
                    return;
                }

                // Check if the item already exists
                if (selectedComorbidities.includes(valueToAdd)) {
                    alert("This comorbidity has already been added.");
                    return;
                }

                selectedComorbidities.push(valueToAdd);
                console.log(selectedComorbidities)
                updateAddedComorbidities();
            }

            // Function to update the display of added comorbidities
            function updateAddedComorbidities() {
                const addedComorbiditiesContainer = document.getElementById('added_comorbidities');
                console.log(addedComorbiditiesContainer)
                addedComorbiditiesContainer.innerHTML = ''; // Clear existing items

                selectedComorbidities.forEach(comorbidity => {
                    const item = document.createElement('div');
                    item.classList.add('added-item');
                    item.innerHTML = `<span>${comorbidity}</span><span class="remove-btn">X</span>`;
                    addedComorbiditiesContainer.appendChild(item);
                });

                // Update hidden input field
                document.getElementById('comorbidities_input').value = selectedComorbidities.join(',');
            }
    
            // Function to remove an item when clicking the "X" button
            function removeItem(event) { 
                if (event.target.classList.contains('remove-btn')) {
                    const item = event.target.parentElement;
                    const value = item.querySelector('span').textContent.trim();0
                    console.log(value)

                    // Capture the parent container (added_comorbidities or added_lab_tests)
                    const parentContainer = item.parentElement;
                    console.log(parentContainer)

                    // Remove the item from the DOM
                    item.remove();

                    // Check which container the item belonged to and update the appropriate array
                    if (parentContainer.id === 'added_comorbidities') {
                        // Remove from selected comorbidities
                        selectedComorbidities = selectedComorbidities.filter(comorbidity => comorbidity !== value);
                        console.log(selectedComorbidities)
                        updateHiddenInput('comorbidities_input', selectedComorbidities);
                    } else if (parentContainer.id === 'added_lab_tests') {
                        // Remove from selected lab tests
                        selectedLabTests = selectedLabTests.filter(labTest => labTest !== value);
                        updateHiddenInput('lab_tests_input', selectedLabTests);
                    }
                }
            }

            // Function to update the hidden input based on the updated list of comorbidities or lab tests
            function updateHiddenInput(hiddenInputId, updatedItems) {
                // Get the hidden input element by ID and update its value with the updated list
                const hiddenInput = document.getElementById(hiddenInputId);
                console.log(hiddenInput)
                hiddenInput.value = updatedItems.join(',');
            }

            // Add event listeners to handle item removal
            document.getElementById('added_comorbidities').addEventListener('click', removeItem);
            document.getElementById('added_lab_tests').addEventListener('click', removeItem);

            function toggleDropdown() {
                const dropdown = document.getElementById("type-dropdown");
                dropdown.classList.toggle("show"); // Toggle show class
            }
        
            function handleFileChange() {
                const fileInput = document.getElementById('consent_form');
                const fileInfo = document.getElementById('file-info');
                const fileNameDisplay = document.getElementById('file-name');
        
                if (fileInput.files.length > 0) {
                    const fileName = fileInput.files[0].name;
                    fileNameDisplay.textContent = fileName; // Display selected file name
                    fileInfo.style.display = 'block'; // Show the file info section
                }
            }
        
            // Function to remove the selected file
            function removeFile() {
                const fileInput = document.getElementById('consent_form');
                const fileInfo = document.getElementById('file-info');
                
                fileInput.value = ''; // Clear the file input
                fileInfo.style.display = 'none'; // Hide the file info section
                document.getElementById('file-name').textContent = ''; // Clear the file name
            }
        
            // Function to select an option and update units dynamically
            function selectOption(option, category) {
                category = category.charAt(0).toUpperCase() + category.slice(1);
                document.getElementById("selectedOption").value = category + ' - ' + option;
                document.getElementById('typeValue').value = category + ' - ' + option; 
                updateUnitOptions(category, option);
                document.getElementById("type-dropdown").classList.remove("show");
            }
        
        
            // Capture the input in the "Other" field and update the display
            function captureOtherInput(type) {
                let otherValue = document.getElementById(type + '-other').value;  // Get the value from the "Other" input
                const selectedType = type.charAt(0).toUpperCase() + type.slice(1); // Capitalize the first letter of the type
                if (otherValue) {
                    otherValue = otherValue.charAt(0).toUpperCase() + otherValue.slice(1);
                    // Combine the type and the specified other value
                    document.getElementById("selectedOption").value = selectedType + " - " + otherValue;
                    document.getElementById("typeValue").value = selectedType + " - " + otherValue; // Set the hidden input value as well
                }
                updateUnitOptions(selectedType, otherValue);
            }
        
            // Function to show the "Other" input field
            function showOtherInput(type) {
                const otherInputId = type + '-other';
                const otherInput = document.getElementById(otherInputId);
                otherInput.classList.remove("hidden");
                document.getElementById("type-dropdown").classList.remove("show");
            }
        
            // Update unit options based on category and selected option
            function updateUnitOptions(category, option) {
                const amountUnitSelect = document.getElementById('unit');
                amountUnitSelect.innerHTML = ''; // Clear existing options
        
                if (category === 'Molecular') {
                    amountUnitSelect.innerHTML += '<option value="uL">µL</option>';
                } else if (category === 'Blood') {
                    if (option === 'Whole Blood') {
                        amountUnitSelect.innerHTML += '<option value="mL">mL</option>';
                    } else {
                        amountUnitSelect.innerHTML += '<option value="mL">mL</option>';
                        amountUnitSelect.innerHTML += '<option value="uL">µL</option>';
                    }
                } else if (category === 'Tissue') {
                    amountUnitSelect.innerHTML += '<option value="slides">Slides</option>';
                    amountUnitSelect.innerHTML += '<option value="mL">mL</option>';
                }
            }
        
            // Close dropdown if clicked outside
            window.onclick = function(event) {
                const dropdown = document.getElementById("type-dropdown");
                if (!event.target.matches('.dropdown-input') && !event.target.closest('.dropdown')) {
                    dropdown.classList.remove("show");
                }
            }
        
        
            // Lab Tests
            
        
            document.getElementById('add_lab_test').addEventListener('click', function() {
                updateAddedLabTests();
            });
        
            function toggleDropdown(dropdownId) {
                const dropdown = document.getElementById(dropdownId);
                dropdown.classList.toggle("show");
            }
        
            function selectLabTest(test) {
                if (selectedLabTests.includes(test)) {
                    alert("This lab test has already been added.");
                } else {
                    selectedLabTests.push(test);
                    updateAddedLabTests();
                }
            }
        
            function captureOtherInputs() {
                let otherValue = document.getElementById('lab_test_other').value.trim();
                if (otherValue !== "") {
                    otherValue = otherValue.charAt(0).toUpperCase() + otherValue.slice(1);
        
                    if (selectedLabTests.includes(otherValue)) {
                        alert("This lab test has already been added.");
                    } else {
                        selectedLabTests.push(otherValue);
                        updateAddedLabTests();
                    }
                }
            }
        
            // selectedLabTests
        
            function updateAddedLabTests() {
                const addedLabTestsContainer = document.getElementById('added_lab_tests');
                
                // Clear existing items
                addedLabTestsContainer.innerHTML = ''; 
        
                // Display added items
                selectedLabTests.forEach(test => {
                    const item = document.createElement('div');
                    item.classList.add('added-item');
                    item.innerHTML = `<span>${test}</span><span class="remove-btn" onclick="removeLabTest('${test}')">X</span>`;
                    addedLabTestsContainer.appendChild(item);
                    // selectedLabTests.push(test);
                });
        
                // Update hidden input field
                document.getElementById('lab_tests_input').value = selectedLabTests.join(',');
            }
        
            function removeLabTest(test) {
                selectedLabTests = selectedLabTests.filter(item => item !== test);
                updateAddedLabTests();
            }

            // Show "Other" input field when "Others" option is selected
            document.getElementById('comorbidity_select').addEventListener('change', function() {
                const otherInput = document.getElementById('comorbidity_other');
                if (this.value === 'Others') {
                    otherInput.style.display = 'inline-block';
                } else {
                    otherInput.style.display = 'none';
                }
            });
        
            function resetForm() {
                removeFile();
                document.getElementById('create-sample-form').reset();  
                document.getElementById('added_lab_tests').innerHTML = '';  
                document.getElementById('added_comorbidities').innerHTML = '';  
                updateHiddenInput(); 
            }
    
        </script>
    </body>
    {% endblock %}
    